<div class="about">
  <div class="header">
    <h1>About</h1>
  </div>
  <div class="about-details">
    <div class="edu">
      <h2>Education</h2>
      <p>
        I graduated from Denison University in May 2020
        with a Bachelor of Arts in Computer Science and a minor in Philosophy.
        My courses included:
      </p>
      <ul>
        <li>Data Structures</li>
        <li>Data Systems</li>
        <li>Computer Systems</li>
        <li>Data Analysis</li>
        <li>IoT, Cloud, & Fog Computing</li>
        <li>Algorithm Design & Analysis</li>
        <li>Philosophy of Technology</li>
        <li>Theory of Computation</li>
      </ul>
    </div>
    <div>
      <h2>Skills</h2>
      <div class="skills">
        <p>Technologies</p>
        <ul>
          <li>Angular</li>
          <li>Node.js</li>
          <li>MongoDB</li>
          <li>Django</li>
          <li>Git</li>
          <li>Express.js</li>
          <li>Heroku</li>
          <li>Raspberry Pi</li>
          <li>Linux Shell</li>
          <li>GCP</li>
        </ul>
        <p>Languages</p>
        <ul>
          <li>Python</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>Typescript</li>
          <li>SQL</li>
          <li>C++</li>
          <li>LaTeX</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="button-bar">
    <a href="assets/jordangelberresume.pdf" target="_blank">
      <button>See Resume</button>
    </a>
  </div>
</div>
