:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 3px solid;
}

.about h1 {
  font-size: 3em;
}

.header {
  display: flex;
  justify-content: space-between;
}

.button-bar {
  text-align: center;
}

.button-bar button {
  appearance: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  padding: 20px;
  box-shadow: 3px 3px 0px;
  background: #EDEDED;
}

.button-bar button:hover {
  transform: translate(2px, 2px);
  box-shadow: 1px 1px 0px;
}

.about-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.about-details h2 {
  font-size: 2em;
  border-bottom: 3px solid;
}

.edu ul {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.edu li:before {
  content: "\2023";
  margin: 0 10px;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5px;
}

.skills p {
  margin: 0;
}

.skills ul {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.skills li:before {
  content: "\2023";
  margin: 0 10px;
}

@media all and (max-width: 1200px) {
  .about-details {
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 500px) {
  .skills {
    grid-template-columns: 1fr;
  }
  .edu ul {
    grid-template-columns: 1fr;
  }
}
