<div class="projects">
  <h1>Recent Projects</h1>
  <div class="project">
    <div class="pic">
      <img src="/assets/alglib.png" alt="image">
    </div>
    <div class="project-details">
      <div class="project-header">
        <h2>Algorithms Library</h2>
      </div>
      <p>
        Web app built using the MEAN stack to interact with algorithm data
        allowing CRUD functionality.
      </p>
      <ul>
        <li>Angular</li>
        <li>MongoDB</li>
        <li>Node.js</li>
        <li>Express</li>
        <li>Heroku</li>
      </ul>
      <div class="button-bar">
        <a href="https://github.com/jordan-gelber/algorithms-library"
          target="_blank" rel="noopener">
          <button>Github</button>
        </a>
        <a href="https://algorithms-library.herokuapp.com/"
          target="_blank" rel="noopener">
          <button>Website</button>
        </a>
      </div>
    </div>
  </div>
  <div class="project">
    <div class="project-details" style="justify-content: flex-end;">
      <div class="project-header">
        <h2>IoT Blinds</h2>
      </div>
      <p>
        A Level-1 IoT device and web application built with a Raspberry Pi
        and Django framework to allow the user to control blinds
        remotely or automatically
      </p>
      <ul>
        <li>Django</li>
        <li>Raspberry Pi</li>
        <li>SQLite</li>
      </ul>
      <div class="button-bar">
        <a href="https://github.com/jordan-gelber" target="_blank" rel="noopener">
          <button>Github</button>
        </a>
        <a href="https://www.instructables.com/id/Light-Sensitive-Scheduled-IoT-Blinds/"
        target="_blank" rel="noopener">
          <button>Website</button>
        </a>
      </div>
    </div>
    <div class="pic">
      <img src="/assets/iotblinds.png" alt="image">
    </div>
  </div>
</div>
