<div class="contact">
  <div class="header">
    <h1>Say Hello!</h1>
    <p>
      I'm available for new oppertunities and I'd love to
      hear from you!
    </p>
  </div>
  <div class="details-container">
    <h2>Email</h2>
    <div class="details">
      <p>gelberje@gmail.com</p>
      <div class="button-bar">
        <a href="mailto:gelberje@gmail.com"><button>Email Me</button></a>
      </div>
    </div>
    <h2>Phone</h2>
    <div class="details">
      <p>+1-919-917-5140</p>
      <div class="button-bar">
        <a href="tel:+19199175140"><button>Call Me</button></a>
      </div>
    </div>
  </div>
</div>
