<div class="contact">
  <div class="header">
    <h1>Contact Me</h1>
    <div class="button-bar">
      <a href="https://github.com/jordan-gelber" target="_blank" rel="noopener" title="Github">
        <button>Github</button>
      </a>
      <a href="https://www.linkedin.com/in/jordan-gelber/" target="_blank" rel="noopener" title="Linkedin">
        <button>Linkedin</button>
      </a>
    </div>
  </div>
  <div class="details-container">
    <h2>Email</h2>
    <div class="details">
      <p>gelberje@gmail.com</p>
      <div class="button-bar">
        <a href="mailto:gelberje@gmail.com"><button>Email Me</button></a>
      </div>
    </div>
    <h2>Phone</h2>
    <div class="details">
      <p>+1-919-917-5140</p>
      <div class="button-bar">
        <a href="tel:+19199175140"><button>Call Me</button></a>
      </div>
    </div>
  </div>
</div>
