<div class="work">
  <h1>Experience</h1>
  <div class="work-container">
    <h2>Software Engineer, Intern @ Admission Pros LLC</h2>
    <h3>Cary, NC &nbsp;&nbsp; | | &nbsp;&nbsp; January 2017 - August 2019</h3>
    <ul class="details">
      <li>Collaborated within a 3-person team of developers to engineer a web application according to individual client requests.</li>
      <li>Designed and implemented front-end application elements using Angular, HTML, and CSS to improve client experience.</li>
      <li>Built front-end forms and corresponding API calls that allowed CRUD functionality while ensuring the safe handling of data.</li>
    </ul>
    <ul class="tech">
      <li>Angular</li>
      <li>Typescript</li>
      <li>HTML</li>
      <li>SCSS</li>
      <li>VB.NET</li>
      <li>Visual Studio Code</li>
      <li>SQL</li>
    </ul>
  </div>
  <div class="work-container">
    <h2>Teacher's Assistant @ Denison University</h2>
    <h3>Granville, OH &nbsp;&nbsp; | | &nbsp;&nbsp; August 2018 – December 2018</h3>
    <ul class="details">
      <li>Organized twice-weekly office hours to aid students with Theoretical Computer Science coursework through individual and group tutoring.</li>
      <li>Communicated weekly with professor on student progress and course material in order to maintain sufficient support for students.</li>
    </ul>
    <ul class="tech">
      <li>Python</li>
      <li>LaTeX</li>
      <li>Overleaf</li>
    </ul>
  </div>
</div>
