<div class="main-container">
  <div class="home-container">
    <div class="home" id="home">
      <h1>Hi! My name is Jordan Gelber.</h1>
      <p>
        I am a software engineer currently looking for a position in the Boston area.
        I'm interested in building full-stack applications that prioritize user
        experience and thoughtful programming.
      </p>
      <div class="button-bar">
        <a href="#contact"><button>Get In Touch</button></a>
      </div>
    </div>
  </div>
  <section>
    <div class="page" id="about">
      <app-about></app-about>
    </div>
    <div class="page" id="projects">
      <app-projects></app-projects>
    </div>
    <!-- <div class="page" id="work">
      <app-work></app-work>
    </div> -->
    <div class="page" id="contact">
      <app-contact></app-contact>
    </div>
  </section>
</div>
